{{#partial "contenido"}}
	<h1>Alta de dispositivos</h1>
	<form action="/admin/{{admin.Id}}/dispositivos/new" method="POST">
		<div> 
			Nombre: <input type="nombre" id="inputNombre" required="" autofocus="" name="nombre">
		</div>
		<div> 
			Coeficiente: <input type="coeficiente" id="inputCoeficiente" required="" autofocus="" name="coeficiente"> 
		</div> 
		<div> 
			Uso minimo: <input type="usoMinimo" id="inputUsoMinimo" required="" autofocus="" name="usoMinimo">
		</div> 
		<div> 
			Uso maximo: <input type="usoMaximo" id="inputUsoMaximo" required="" autofocus="" name="usoMaximo">
		</div> 
		<div> 
			<input type="checkbox" name="optimizable" value="" autofocus=""> Optimizable<br>
		</div> 
		<input type="submit" value="Aceptar"> 
		{{#block "subContenido"}}
		{{/block}}
	</form>
{{/partial}}

{{>layoutAdmin.hbs}}