<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="signin.css">
</head>

<body class="text-center">
	<form method="POST" action="/loginUser">
		<img src="http://www.agenti.hr/sadrzaj/press/arhiva-vijesti/ID-9611/energetski-certifikat.png" alt="" width="300" height="222">
		<br></br>
      	<input type="user" id="inputUser" class="form-control" placeholder="User" required="" autofocus="" name="user">
      	<label for="inputPassword" class="sr-only">Password</label>
      	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
      	<br></br>
      	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      	
	</form>
	
<footer class="footer">
    <p class="text-center">
      &copy; 2018 SGE
    </p>
</footer>
</body>
</html>