{{#partial "contenidoConsumo"}}

		{{#each reportes}}
			<tr>
				<td>{{fechaInicio}}</td>
				<td>{{fechaFin}}</td>
				<td>{{consumo}} Kw</td>
			</tr>
		{{/each}}

{{/partial}}

{{>user/consumosUser.hbs}}